GEMINI_API_KEY=your_api_key_here
# GOOGLE_API_KEY=your_api_key_here

# Configuração Módulo 02 - Custom Tools (GitHub)
GITHUB_TOKEN=your_github_pat_here
GITHUB_REPO=your_username/repo_name

# Configuração Módulo 02 - Custom Tools (Google Drive)
GOOGLE_APPLICATION_CREDENTIALS=credentials.json
GOOGLE_DRIVE_FOLDER_ID=your_shared_folder_id
